@charset: "utf-8";

html {
	font-size:100%;
}

body {
  	font-family:'メイリオ', 'Meiryo', sans-serif;
	line-height: 1.7;
	color: black;
	background-color: white;
}


h2 {
	font-size: 50px;
	text-align: center;
}

h3 {
	text-align: center;
}
p {
  font-size: 14px;
}
<style>
a { text-decoration: none;}
a:hover { text-decoration: none;}
</style>
header {
  padding:10px;
  display: flex;
}

.fix-01{
    background:#fff; /背景を白色に/
    box-shadow:0 2px 8px rgba(30,30,80,.3); /影。不要なら削除/
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align:center;
    padding:1rem;
}
li {
	font-size: ;
	list-style: none;
}
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
 　left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 300px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  margin-left: auto;
  margin-right: auto;
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}
#nav-content ul li a {
	margin-bottom: 3%;
}
#nav-content ul li span {
	text-align: center;
	padding-left: 0;
}
#nav-content ul {
	text-align: center;
	padding-left: 0;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-area{text-align:center;margin:auto;}
.logo-area {
	width: 100%;
	height: 80px;
	display: flex;
}

h1 {
	padding-top: 15px;
	position: relative;
	bottom: 30px;
	font-size: 30px;
	margin-left: 60px;
}

.main-nav {
	list-style: none;
	margin-left: 30px;
}

.main-nav li {
	font-size: 17px;
	float: left;
	margin-left: 15px;
}

#tel {
	margin-left: 40px;
	position: relative;
	bottom: 8px;

}
#tel span {
	font-size: 25px;
}
.fix-01{
    background:#fff; /背景を白色に/
    box-shadow:0 2px 8px rgba(30,30,80,.3); /影。不要なら削除/
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align:center;
    padding:1rem;
}
.bg-img {
  padding-top: 115px;
  width: 1270px;
  height: 370px;
  display: table-cell;
  vertical-align: middle;
  background: url(abc.png.png);
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 100% 100%;
  border-width: 4px 4px 4px 4px;
}
.bg-img h2 {
  width: 200px;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 35%;
  left: 40%;
  border-width: thick;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  text-align: center;
  vertical-align: middle;
}
.style {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 200px;
  margin-bottom: 30px;
}
.style h2 {
  font-size: 32px;
}

.stylesmall {
  width: 100%;
  text-align: center;
  float: left;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(330px,1fr));

}

table{
  width: 90%;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table th{
  border-bottom: solid 2px #ddd;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
}
h3 {
  text-align: center;
}



.smalllist p {
  margin-left: 5%;
}

.menu {
  width: auto;
}








.smalllist p {
  margin-left: 5%;
}

















/*モバイル版ここから*/
@media screen and (min-width: 600px) {
  #nav-drawer {
    display: none;
  }
}



@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  h1{
    font-size: 2rem;
  }
  img {
    width: 100%;
    height: 300px;
  }
  header {
    width: auto;
    height: 45px;
    flex-direction: column;
    text-align: center;
  }
  .logo img {
    width: 40px;
    height: 40px;
    line-height: auto;
    text-align: center;
  }
  h1 {
    margin-top: 6%;
    margin-left: 5px;
    font-size: 23px;
  position: relative;
  line-height: auto;
}
  .src1 {
    background-size: 100% 300px;
  }

  .main-nav li {
    display: none;
    height: 45px;
  }
  #nav-drawer {
    height: 45px;
  }
  li {
    font-size: 20px;
  
  }
.box {
  width: 100%;
  height: 300px;
} 
/*ヘッダーここから*/
.main-nav {
  font-size: 1rem;
  margin-top: 10px;
}

.main-nav li {
  margin: 0 20px;
}
.copy p {
  font-size: 25px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    left: 35%;  
    top: 35%;
}
#tel {
  margin-top: 2%;
  position: relative;
  bottom: 8px;
  text-align: center;
  margin-left: 0;

}
#nav_toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    z-index: 100;
}
#nav-open {
  width: 70px;
}
.bg-img {
  padding-top: 120px;
  background-size: 100% 300px;
  height: 200px;
  position: relative;
} 
.bg-img h2 {
  position: absolute;
  top: 35%;
  left: 30%;

}
/*ヘッダーここまで*/

/*menuここまで*/


/*styleここから*/
.style {
  width: auto;
  height: 200px;
  margin-left: 5%;
}
.style h2 {
  text-align: center;
  
}
.style p {
  text-align: center;
  font-size: 15px;
}
.style h3 {
  font-size: 20px;
}
.shop {
  flex-direction: column;
  margin-left: none;
}
.stylesmall img {
  width: 200px;
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
}

.smallshop h2 {
  margin-left: 0;
  
}

.stylesmall h3 {
  margin-top: 10%;
  font-size: 20px;
}
.stylesmall {
  width: 100%;
  text-align: center;
  float: left;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(200px,1fr));

}

/*styleここまで*/

/*productここから*/

.product {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.product img {

  margin-top: 20%;
  max-width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;

}
.product h2 {
  text-align: center;
}
.product p {
  margin-left: 5%;
  text-align: center;
}
.product h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}
/*productここまで*/

/*fここから*/
.f {
  width: auto;
  line-height: 20px;
  flex-direction: column;
  margin-left: none;
}
.f p {
  margin-top: 10%;
  font-size: 20px;
}
.f img {
  margin-top: 30%;
  width: 70px;
  height: 70px;
  text-align: center;
}
li {
    line-height: 35px;
    font-size: 20px;
  
  }



  h1 {
    margin-top: 6%;
    margin-left: 5px;
    font-size: 23px;
  position: relative;
  line-height: auto;
}
  }